<h1>Anime List</h1>

<h2>Favorite Anime</h2>

<p>
    <a href="/anime/favorite">Add your favorite anime!</a>
</p>

<ul>
    {{#each allAnime}}
    <li>
        <a href="/anime/{{_id}}">{{favorite}}</a>
    </li>
    {{/each}}
</ul>

<h2>First Anime</h2>

<p>
    <a href="/firstAnime">See what started it all.</a>
</p>

<h2>Anime Review</h2>

<p>
    <a href="/animeReviews">View anime reviews here.</a>
</p>