<h1>Anime List</h1>

<main>
    <h2>Favorite Anime</h2>

    <img src="Images/deathNote.gif" alt="Death Note Potato Chip Scene">

    {{!-- Synopsis from deathnote.fandom.com --}}
    <p>One of my favorite anime is Death Note. Death Note (デスノート, Desu Nōto) is a manga series created by writer Tsugumi
        Ohba and illustrator Takeshi Obata. The series centers around a high school student who discovers a supernatural
        notebook that allows him to kill anyone by writing the victim's name while picturing their face. The plot
        follows his attempt to create and lead a world cleansed of evil using the book, and the complex conflict between
        himself and those assailing him that results.</p>

    <p>
        <a href="/anime/favorite">Add your favorite anime!</a>
    </p>

    <ul>
        {{#each allAnime}}
        <li>
            <a href="/anime/{{_id}}">{{favorite}}</a>
        </li>
        {{/each}}
    </ul>

    <h2>First Anime</h2>

    <img src="Images/charizardBlastoise.webp" alt="Charizard punches Blastoise">

    {{!-- Synopsis from pokemon.fandom.com --}}
    <p>Pokemon is the first anime I can remember watching and I didn't even know it was an anime at the time. Pokémon
        (Japanese: ポケットモンスター Pocket Monsters) is an ongoing animated show that follows the adventures of the series'
        main protagonist Ash Ketchum and his friends (Ash's Pikachu). The series is produced by Oriental Light & Magic
        Inc. in Japan.</p>

    <p>
        <a class="link" href="/firstAnime">See what started it all.</a>
    </p>

    <h2>Anime Review</h2>

    {{!-- Anime review from https://myanimelist.net/anime/813/Dragon_Ball_Z/reviews --}}
    <p>The original Dragon Ball was fun, but in DBZ the characters have grown and the maturity is felt throughout the
        whole series. From the incredible Sayian Saga, an important Frieza Saga and the entertaining Cell Saga to the
        Grand Finale - Buu Saga, DBZ does not disappoint. It's not all about the fighting, although the series have
        probably 4-5 battles that should be written in the anime history books. I was always astonished by the character
        development which is amazing and to emphasize this, I like the example of Vegeta. He was one of the greatest
        villains at first and one of the greatest heroes in the end. The way Akira Toriyama changed his perspective
        throughout the storyline and how he did not rush Vegeta's judgement of his surroundings is astounding. Goku's
        naive greatness and Vegeta's indestructible pride completes, arguably, the single greatest friendship in anime
        history.</p>

    <p>
        <a class="link" href="/animeReviews">View anime reviews here.</a>
    </p>
</main>