<h2>First Anime list</h2>

<p><a href="/firstAnime/initial">What was the first anime you watched?</a></p>

<p><a href="/anime">Home Page</a></p>

<ul>
    {{#each allFirst}}
    <li>
        <a href="/firstAnime/{{_id}}">{{firstAnime}}</a>
    </li>
    {{/each}}
</ul>