<h1>First Anime list</h1>

<div>
    <p><a href="/firstAnime/initial">What was the first anime you watched?</a></p>

    <ul>
        {{#each allFirst}}
        <li>
            <a href="/firstAnime/{{_id}}">{{firstAnime}}</a>
        </li>
        {{/each}}
    </ul>
</div>