<h2>Anime Reviews</h2>

<p><a href="/animeReviews/review">Leave a review here!</a></p>

<p><a href="/anime">Home Page</a></p>

<ul>
    {{#each allReviews}}
    <li>
        <a href="/animeReviews/{{_id}}">{{reviews}}</a>
    </li>
    {{/each}}
</ul>