<h2>Your First Anime</h2>

<form method="POST" action="/animeReviews">

<label for="name">Name:</label>
<input type="text" name="name"/><br>

<label for="rating">Rating (between 1 and 5):</label>
<input type="number" name="rating" min="1" max="5"/><br>

<label for="firstAnime">First Anime:</label>
<input type="text" name="reviews"/><br>

<input type="submit" value="Submit"/>

</form>