<form method="POST" action="/firstAnime/{{editFirst._id}}?_method=PUT">

<label for="name">Name:</label>
<input type="text" name="fullName" value="{{editFirst.fullName}}"/><br>

<label for="year">First Year:</label>
<input type="number" name="year" value="{{editFirst.year}}"/><br>

<label for="firstAnime">First Anime:</label>
<input type="text" name="firstAnime" value="{{editFirst.firstAnime}}"/><br>

<input type="submit" value="Submit"/>

</form>