<form method="POST" action="/anime/allAnime">

<label for="name">Name:</label>
<input type="text" name="name"/><br>

<label for="favorite">Favorite Anime:</label>
<input type="text" name="favorite"/><br>

<label for="genre">Genre:</label>
<input type="text" name="genre"/><br>

<label for="age">Age:</label>
<input type="number" name="age"/><br>

<label for="description">Description:</label>
<textarea name="description" cols="30" rows="10">
    Enter a brief description...
</textarea>

<input type="submit" value="Submit">

</form>