<h1>Favorite Anime</h1>

<form class="favoriteForm" method="POST" action="/anime">

<label for="name">Name:</label>
<input type="text" name="name" placeholder="Your name" required/><br>

<label for="favorite">Favorite Anime:</label>
<input type="text" name="favorite" placeholder="Favorite anime" required/><br>

<label for="genre">Genre:</label>
<input type="text" name="genre" placeholder="Genre" required/><br>

<label for="age">Age:</label>
<input type="number" name="age" placeholder="Your age" required/><br>

<label for="description">Description:</label><br>
<textarea name="description" cols="30" rows="10" placeholder="Enter a brief description...">
    
</textarea><br>

<input class="button" type="submit" value="Submit"/>

</form>