<h1>Favorite Anime</h1>

<form method="POST" action="/anime">

<label for="name">Name:</label>
<input type="text" name="name" placeholder="Your name"/><br>

<label for="favorite">Favorite Anime:</label>
<input type="text" name="favorite" placeholder="Favorite anime"/><br>

<label for="genre">Genre:</label>
<input type="text" name="genre" placeholder="Genre"/><br>

<label for="age">Age:</label>
<input type="number" name="age" placeholder="Your age"/><br>

<label for="description">Description:</label><br>
<textarea name="description" cols="30" rows="10" placeholder="Enter a brief description...">
    
</textarea><br>

<input type="submit" value="Submit"/>

</form>