<h1>Anime List</h1>

<p>Favorite Anime</p>

<ul>
    {{#each allAnime}}
    <li>
        <a href="/anime/{{_id}}">{{favorite}}</a>
    </li>
    {{/each}}
</ul>

<p>First Anime</p>

<p>Anime Review</p>