<h2>Your First Anime</h2>

<form class="firstForm" method="POST" action="/firstAnime">

<label for="name">Name:</label>
<input type="text" name="fullName" placeholder="Your name" required/><br>

<label for="year">First Year:</label>
<input type="number" name="year" placeholder="First year" required/><br>

<label for="firstAnime">First Anime:</label>
<input type="text" name="firstAnime" placeholder="First anime" required/><br>

<input type="submit" value="Submit"/>

</form>

