<form method="POST" action="/anime">

<label for="name">Name:</label>
<input type="text" name="name"/><br>

<label for="year">Start Date:</label>
<input type="number" name="year"/><br>

<label for="firstAnime">First Anime:</label>
<input type="text" name="firstAnime"/><br>

<input type="submit" value="Submit"/>

</form>