<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Anime App</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <p>
            <a href="/anime">Home</a>
        </p>

        <p>
            <a href="/firstAnime">First Anime</a>
        </p>

        <p>
            <a href="/animeReviews">Reviews</a>
        </p>
    </nav>

    {{{body}}}


    <footer>
        &copy; Terence Griffith
    </footer>
</body>

</html>