body {
    margin: 0;
    background-color: red;
}

h1, h2, p, ul, form {
    text-align: center;
    font-family: 'Acme', sans-serif;
}

h1 {

}

a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

input[type=text]:focus {
    background-color: orange;
}